Repository Kalcode/air-1-dashboard-ha-addon: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

lefthook.yml:

# Lefthook configuration for Air-1 Dashboard
# https://lefthook.dev/configuration/

# Enforce conventional commits
commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

# Run linting and formatting on changed files
pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,jsx,tsx,json,astro}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

# Validate versions and run checks before pushing
pre-push:
  commands:
    version-check:
      run: bun scripts/validate-versions.ts

    build-check:
      run: bun run build

chore: cleanup workspace config and fix lint errors
  biome.json
  dashboard/biomes.json
  dashboard/cliff.toml
  dashboard/commitlint.config.js
  dashboard/src/components/HADataSource.tsx
  dashboard/src/components/types.ts
  lefthook.yml
  server/dev-server.js
  server/test-example.js
Due: biome-check, typecheck

fix: build not working
  bun.lock
  cliff.toml
  dashboard/package.json
  package.json
  server/package.json
Due: biome-check

fix(release): update GitHub Actions workflow to use Bun release script
  .github/workflows/release.yml
Due: none

chore: reset version to 0.5.0 for initial release
  cliff.toml
  config.yaml
  dashboard/.github/workflows/release.yml
  dashboard/package.json
  package.json
  rootfs/usr/bin/run.sh
  server/package.json
Due: biome-check

feat(server): migrate to TypeScript and implement SQLite storage
  Dockerfile
  bun.lock
  dashboard/package.json
  dashboard/src/components/Dashboard.tsx
  dashboard/src/components/PreviewBanner.tsx
  dashboard/src/components/ShareButton.tsx
  dashboard/src/components/share-codec.ts
  dashboard/src/components/storage-api.ts
  dashboard/src/components/storage.ts
  dashboard/src/components/types.ts
  rootfs/usr/bin/run.sh
  server/config.ts
  server/db.ts
  server/dev-server.ts
  server/ha-client.ts
  server/package.json
  server/server.ts
  server/storage-routes.ts
  server/test-example.ts
  server/test-temp-conversion.ts
  server/tsconfig.json
  server/types.ts
Due: biome-check, typecheck

refactor(server): migrate from Axios to native fetch API
  server/ha-client.ts
  server/package.json
Due: biome-check, typecheck

chore: update lockfile after removing axios dependency
  bun.lock
Due: none

fix: needs to be relative
  dashboard/src/components/storage-api.ts
  server/server.ts
Due: biome-check, typecheck

fix(dashboard): pause polling when viewing historical readings
  dashboard/src/components/Dashboard.tsx
  dashboard/src/components/HADataSource.tsx
Due: biome-check, typecheck

refactor(server): reduce verbose logging for production
  server/ha-client.ts
  server/server.ts
Due: biome-check, typecheck

fix(server): add missing leading slash to storage routes
  server/server.ts
Due: biome-check, typecheck

feat: add development environment with mock server and cleanup unused code
  .gitignore
  bun.lock
  dashboard/.env.development
  dashboard/src/components/HADataSource.tsx
  dashboard/src/components/storage-api.ts
  dashboard/src/config.ts
  examples/config_response.json
  examples/readings_post_response.json
  examples/readings_response.json
  examples/sensors_response.json
  package.json
  server/dev-server.sh
  server/dev-server.ts
  server/package.json
  server/server.ts
  server/test-example.ts
  server/test-temp-conversion.ts
  server/types.ts
Due: biome-check, typecheck

docs: prepare project for open source release
  .dockerignore
  .github/pull_request_template.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  LICENSE.md
  README.md
  dev-preview.sh
  scripts/build.sh
  scripts/clean.sh
  scripts/deploy-local.sh
  scripts/test-docker.sh
  server/FILES.md
  server/IMPLEMENTATION.md
  server/QUICKSTART.md
  server/validate.sh
Due: none
